<!DOCTYPE html>
<html lang="pl">
<head>
  <%- include('../partials/head', {title: "Strona Główna"}); %>
</head>
<body>
<header>
  <%- include('../partials/header'); %>
</header>
<style>
.content-wrapper-product {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid-product{
	max-width: 1140px;
	margin: 0 auto;
}

.container-product {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}
.disabled {
    cursor: not-allowed;
}
</style>
<script>
    const addToCart = (productId) =>{
        if(<%=!!cart%>){
            // add simple ajax fetch to something like /product/getquantity here
            // and pull from that to check if can add to cart
            if(!productAvailable){
                $("#add_to_cart").removeClass("btn-success");
                $("#add_to_cart").addClass("btn-secondary");
                $("#add_to_cart").addClass("disabled");
            }
            fetch(`/product/addtocart/${productId}`)
            .then(response => response.json())
            .then(data => console.log(data));
        }
    } 
</script>
<main>
    <div class="container-fluid container-fluid-product">
        <div class="content-wrapper content-wrapper-product">	
            <div class="item-container">	
                <div class="container container-product">	
                    <div class="col-md-12" style="padding-left: 0">
                        <div class="product col-md-3 service-image-left">
                            <img class="mb-5" id="item-display" src="http://placekitten.com/2000/1200" alt=""></img>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="display-4"><%= product.name %></div>
                        <hr>
                        <div class="product-price"><%= product.price.toFixed(2) %> PLN</div>
                        <% if(product.quantity == 0) { %><div style="color: red"><% } else { %><div style="color: green"><% }%> <%= product.quantity == 0 ? "Niedostępny" : "Dostępny" %> (<%= product.quantity %> szt.)</div>
                        <hr>
                        <div class="btn-group cart">
                            <button onclick="addToCart(<%= product.id %>)" type="button" id="add_to_cart" class="btn btn-success">
                                    Dodaj do koszyka 
                            </button>
                            <p>W koszyku: </p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="container-fluid">		
                <div class="col-md-12 product-info">
                    <section class="container product-info">
                        <%= product.description %>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>